In [1]:
import os
import pandas
import db_dtypes
import folium
from google.cloud import bigquery

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'linkedininsightscase-9ef4c28fb738.json'

In [2]:
client = bigquery.Client()

In [17]:
sql = """
SELECT *
FROM `bigquery-public-data.new_york_mv_collisions.nypd_mv_collisions`
WHERE cast(timestamp as date) between "2014-01-01" AND "2017-12-31"
AND borough = "BROOKLYN"
ORDER BY timestamp ASC
"""

#pct_overlap_terms_by_days_apart.head()

In [18]:
query_job = client.query(sql).to_dataframe()
query_job.to_csv('bigquery_nypd_collisions.csv')

In [12]:
print(query_job)

  borough contributing_factor_vehicle_1 contributing_factor_vehicle_2  \
0    None            Turning Improperly                   Unspecified
1    None                   Unspecified                   Unspecified
2    None                   Unspecified                   Unspecified
3    None                   Unspecified                          None
4    None                   Unspecified                   Unspecified
5    None                   Unspecified                   Unspecified
6    None                   Unspecified                   Unspecified
7    None                   Unspecified                   Unspecified
8    None             Pavement Slippery                          None
9    None                   Unspecified                   Unspecified

  contributing_factor_vehicle_3 contributing_factor_vehicle_4  \
0                          None                          None
1                          None                          None
2                          None                          None
3                          None                          None
4                          None                          None
5                   Unspecified                          None
6                          None                          None
7                          None                          None
8                          None                          None
9                          None                          None

  contributing_factor_vehicle_5                 cross_street_name  \
0                          None                              None
1                          None  MADISON AVENUE
2                          None                              None
3                          None  COLDEN AVENUE
4                          None  70 AVENUE
5                          None                              None
6                          None  33 STREET
7                          None                              None
8                          None                              None
9                          None  METROPOLITAN AVENUE

            timestamp  latitude  longitude  ... number_of_persons_killed  \
0 2014-04-18 14:00:00       NaN        NaN  ...                        0
1 2014-04-23 16:30:00       NaN        NaN  ...                        0
2 2014-05-03 13:38:00       NaN        NaN  ...                        0
3 2014-03-14 16:04:00       NaN        NaN  ...                        0
4 2014-03-15 12:00:00       NaN        NaN  ...                        0
5 2014-02-14 08:30:00       NaN        NaN  ...                        0
6 2014-02-22 21:10:00       NaN        NaN  ...                        0
7 2013-12-27 12:05:00       NaN        NaN  ...                        0
8 2014-01-02 04:30:00       NaN        NaN  ...                        0
9 2013-12-17 17:50:00       NaN        NaN  ...                        0

                            off_street_name                    on_street_name  \
0                                      None                              None
1                                      None  EAST 135 STREET
2  WEST 178 STREET HENRY HUDSON PARKWAY                                  None
3                                      None  BRONXDALE AVENUE
4                                      None  QUEENS BOULEVARD
5                                      None                              None
6                                      None  ASTORIA BOULEVARD SOUTH
7   PL OF 2655 RICHMOND AVE                                              None
8                                      None                              None
9                                      None  UNION TURNPIKE

   unique_key             vehicle_type_code1              vehicle_type_code2  \
0     2919391              PASSENGER VEHICLE                           OTHER
1      324163                            VAN               PASSENGER VEHICLE
2      329320              PASSENGER VEHICLE               PASSENGER VEHICLE
3      305375              PASSENGER VEHICLE                            None
4      307263              PASSENGER VEHICLE   SPORT UTILITY / STATION WAGON
5     2927809                          OTHER   SPORT UTILITY / STATION WAGON
6      279209                     MOTORCYCLE               PASSENGER VEHICLE
7      292457              PASSENGER VEHICLE               PASSENGER VEHICLE
8     2913910  SPORT UTILITY / STATION WAGON                            None
9      267601              PASSENGER VEHICLE  LARGE COM VEH(6 OR MORE TIRES)

   vehicle_type_code_3  vehicle_type_code_4  vehicle_type_code_5 zip_code
0                 None                 None                 None     <NA>
1                 None                 None                 None     <NA>
2                 None                 None                 None     <NA>
3                 None                 None                 None     <NA>
4                 None                 None                 None     <NA>
5                 TAXI                 None                 None     <NA>
6                 None                 None                 None     <NA>
7                 None                 None                 None     <NA>
8                 None                 None                 None     <NA>
9                 None                 None                 None     <NA>

[10 rows x 28 columns]